<% include layout/head %>
<% include layout/header %>
<% include layout/sidebar %>
<title>Gear Store Admin | Thông báo</title>
    <div class="table-agile-info p-0">
        <div class="panel panel-default">
            <a class="h2" href="#">Danh sách thông báo</a>
            <div>
                <button type="button" data-toggle="modal" data-target="#modal_thong_bao" class="btn btn-warning float-right">Xác nhận đã xem tất cả</button>
            </div>
            <table id="table_thong_bao"
                class="table table-striped table-bordered bg-light table-hover d-md-table table-responsive-sm"
                style="width:100%">
                <thead>
                    <tr>
                        <th>Mã Hóa đơn</th>
                        <th>Nội dung</th>
                        <th>Ngày thông báo</th>
                    </tr>
                </thead>
                <tbody>
                <% thong_bao.forEach(row => { %>
                    <tr data-toggle="modal" data-target="#modal-detail" onclick="show_chi_tiet_hoa_don('<%=row.ma_hd%>')">
                        <td><%=row.ma_hd%></td>
                        <td><%=row.noi_dung%></td>
                        <td><%=row.ngay_tao%></td>
                    </tr>
                <% }) %>
                    
                </tbody>
            </table>

            <div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Chi tiết hóa đơn</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="TH_modal_detail">
                            <div class="row w-100">
                                <div class="h3 text-primary mr-auto">Hóa đơn 123</div>
                                <div class="h3 text-danger">Tổng tiền:288,000 VNĐ</div>
                            </div>
                            <div class="row w-100">
                                <div class="h6 mr-auto">Người lập: NVA</div>
                                <div class="h6">Ngày lập: 1-1-2019</div>
                            </div>
                            <div class="row w-100">
                                <div class="h6 mr-auto">Khách hàng: Khách lẻ</div>
                                <div class="h6">Tình trạng:Đã thanh toán</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">

                                </div>
                                <div class="col-sm-12">
                                    <table
                                        class="table table-striped table-hover table-bordered table-responsive d-lg-table">
                                        <thead>
                                            <tr>
                                                <th>Mã sản phẩm</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Số lượng</th>
                                                <th>Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>3</td>
                                                <td>2</td>
                                                <td>9</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" id="modal_footer_detail">
                                

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_thong_bao" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body" id="TH_thong_bao">
                    Xác nhận xóa tất cả
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="xoat_tat_ca_thong_bao()">Xác nhận</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <% include layout/footer %>
    <script>
        function xoat_tat_ca_thong_bao()
        {
            TH_thong_bao.innerHTML='Đang xử lý'
            $.ajax({
                    url: window.location.origin+'/admin/xoa-thong-bao',
                    type: "POST",
                    success: (data) => {
                        if(data.errrCode==0)
                        {
                            TH_thong_bao.innerHTML=data.message
                            setTimeout(() => {
                                window.location='/admin/thong-bao'
                            }, 1500);
                        }
                        
                    }
                })
        }
        function show_chi_tiet_hoa_don(mahd) {
            $.ajax({
                url: window.location.origin +'/tim-kiem/hoa-don-ma-tu-tao',
                type: "POST",
                data:{'ma_hd':mahd},
                success: (data) => {
                    var ct = ``;
                    var tongtien = 0;
                    data[0].chi_tiet.forEach(row => {
                        tongtien += (row.so_luong) * (row.gia_ban);
                        ct += `
                            <tr>
                                <td>${row.san_pham._id}</td>
                                <td>${row.san_pham.ten_sp}</td>
                                <td>${row.so_luong}</td>
                                <td>${row.gia_ban.toLocaleString('en-GB')}</td>
                                <td>${((row.so_luong)*(row.gia_ban)).toLocaleString('en-GB')}</td>
                            </tr>
                        `
                    });
                    if(data[0].trang_thai!='Chưa xác nhận')
                    {
                        modal_footer_detail.innerHTML=`
                            <button type="button" class="btn btn-secondary" id="btn_close_detai"
                                data-dismiss="modal">Đóng</button>
                    `
                    }
                    else
                    {
                        modal_footer_detail.innerHTML=`
                        <button type="button" class="btn btn-danger" id="" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-warning" id="" data-dismiss="modal">Xác nhận</button>
                            <button type="button" class="btn btn-secondary" id="btn_close_detai"
                                data-dismiss="modal">Đóng</button>
                    `
                    }
                    
                    TH_modal_detail.innerHTML = `
                        <div class="row w-100">
                            <div class="h3 text-primary mr-auto">Hóa đơn ${data[0].ma_hd}</div>
                            <div class="h3 text-danger">Tổng tiền:${(tongtien).toLocaleString('en-GB')} VNĐ</div>
                        </div>
                        <div class="row w-100">
                            <div class="h6 mr-auto">Người lập: ${data[0].nhan_vien[0].ho_ten}</div>
                            <div class="h6">Ngày lập: ${data[0].ngay_lap}</div>
                        </div>
                        <div class="row w-100">
                            <div class="h6 mr-auto">Khách hàng: ${data[0].khach_hang[0].ho_ten}</div>
                            <div class="h6">Tình trạng:${data[0].trang_thai}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                            <div class="col-sm-12">
                                <table class="table table-striped table-hover table-bordered table-responsive d-lg-table">
                                    <thead>
                                        <tr>
                                            <th>Mã sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Giá bán</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    ${ct}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    `
                }
            })
        //đẵ xem
            $.ajax({
                    url: window.location.origin+'/admin/xoa-1-thong-bao',
                    type: "POST",
                    data:{'ma_hd':mahd},
                    success: (data) => {
                    }
                })
            }
    </script>
    <script>
        $('#table_thong_bao').DataTable();            
        document.getElementById('table_thong_bao_filter').classList.add('d-none')
        document.getElementById('table_thong_bao_wrapper').classList.add('pb-4')
    </script>