.modal {
    overflow-y:auto;
  }

  .modal-full {
    min-width: 95%;
    margin: auto;
}
@media only screen and (max-width: 576px)
{
    .navbar-expand-sm .navbar-nav {
        display: block !important;
    }
}
