<% include layout/head %>
<% include layout/header %>
<% include layout/nav %>
<% include thuvien/bodau %>
<% include layout/thanh_trang_thai %>
<script>
    if(sessionStorage.getItem('khach_hang_Ten')!=null && sessionStorage.getItem('khach_hang_Id')!=null)
    {
        window.location=window.location.origin
    }
</script>
<div class="container page-container">
    <div class="page home-page custom-container">
        <div class="page login-page">
            <div class="mb-2">
                <div class="row flex-md-row mt-3 mb-3">
                    <div class="col-lg-6 col-12">
                        <div class="card">
                            <h5 class="card-header"><strong>Đăng nhập</strong></h5>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 form-group mb-0">
                                        <div class="form-group row">
                                            <div class="col-lg-3 col-12">
                                                <label class="col-form-label" for="Email">Email:</label>
                                            </div>
                                            <div class="col-lg-9 col-12">
                                                <input class="form-control email" autofocus="autofocus" type="text" id="dang_nhap_email" placeholder="Nhập email" value="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 col-12">
                                                <label class="col-form-label" for="Password">Mật khẩu:</label>
                                            </div>
                                            <div class="col-lg-9 col-12">
                                                <input class="form-control password" type="password"id="dang_nhap_mat_khau" placeholder="Nhập mật khẩu">
                                            </div>
                                        </div>
                                        <div class="inputs d-flex flex-row">
                                            <span class="ml-3 forgot-password">
                                                <a href="/passwordrecovery">Quên mật khẩu?</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="buttons">
                                    <input class="btn btn-info login-button" id="btn_dang_nhap" type="button" value="Đăng nhập" onclick="return kiem_tra_thong_tin_dang_nhap()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="card-body register-block">
                            <h5><strong>Khách hàng mới</strong></h5>
                            <div class="text generalMarginSupporter">
                                Nếu là khách hàng mới, vui lòng nhấn nút đăng ký phía dưới để tạo tài khoản
                            </div>
                            <div class="buttons">
                                <input type="button" class="btn btn-secondary register-button"
                                    onclick="location.href='/register'" value="Register">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" id="modal_thongbao" style="display:none" data-toggle="modal" data-target="#modelId">
	  Launch
	</button>
	
	<!-- Modal -->
	<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Thông báo</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body" id="TH_thongbao">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
	</div>
<% include layout/footer %>
<script>
btn_dang_nhap.onclick=()=>{
	TH_thongbao.innerHTML='Đang xử lý...'
	modal_thongbao.click()
		var form_data={
			'email':dang_nhap_email.value,
			'password' : dang_nhap_mat_khau.value,
		}
		$.ajax(
			{
				url:window.location.origin+"/dangnhap",
				type:"POST",
				data:form_data,
				success:(data)=>{
					data=JSON.parse(data)
					if(data.errorCode==0)
					{
						sessionStorage.setItem('khach_hang_Id',data.khach_hang_Id)
						sessionStorage.setItem('khach_hang_Ten',data.khach_hang_Ten)
						sessionStorage.setItem('khach_hang_Email',data.khach_hang_Email)
						sessionStorage.setItem('khach_hang_Dia_chi',data.khach_hang_Dia_chi)
						sessionStorage.setItem('khach_hang_Dien_thoai',data.khach_hang_Dien_thoai)
						setTimeout(() => {
							window.location=window.location.origin+"/giohang"
    					}, 3000);
					}
					TH_thongbao.innerHTML=data.message
				}
	
			}
		)
	}
</script>