<% include layout/head %>
<% include layout/header %>
<% include layout/nav %>
<% include thuvien/bodau %>
<!-- checkout -->
<div class="container page-container">
	<div class="page home-page custom-container" id="checkout">
	<h2 class="generalTitle text-sm-center">Giỏ hàng</h2>
	<caption style="font-weight:bold">
		<a href="#" onclick="xoa_gio_hang()">XOÁ GIỎ HÀNG</a>
	</caption>
	<table class="table table-striped table-hover table-responsive d-md-table" style="width:100%">
		<thead>
			<tr>
				<th>STT</th>
				<th>Hình ảnh</th>
				<th>số lượng</th>
				<th>Tên sản phẩm</th>
				<th>Giá</th>
				<th>Xoá</th>
			</tr>
		</thead>
		<tbody id="TH_gio_hang">

		</tbody>
		<tr class="rem3">
			<td style="font-size:20px; font-weight:bold" colspan="6" class="invert">Tổng tiền: <span
					id="tinh_tong_tien">100000000</span> VNĐ</td>
		</tr>
	</table>
	<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_xac_nhan">Tiến hành đặt hàng</button>
	<div class="checkout-left float-right">
		<div class="checkout-right-basket"> <a href="."><span class="glyphicon glyphicon-menu-left"
					aria-hidden="true"></span>Tiếp tục mua sắm</a> </div>
	</div>
			

	</div>
</div>

<!-- Button trigger modal -->
<button type="hidden" class="btn btn-primary btn-lg d-none" id="btn_thong_bao" data-toggle="modal" data-target="#model_thong_bao"></button>

<!-- Modal -->
<div class="modal fade" id="model_thong_bao" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Thông báo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
			<div class="modal-body" id="TH_thong_bao">
				<div class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				Đang xử lý...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_xac_nhan" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Xác nhận đặt hàng</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="dat_hang()">Đồng ý</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="dong_xac_nhan">Đóng</button>
			</div>
		</div>
	</div>
</div>
<!-- //checkout -->
<script>
	var tongtien = 0;
	async function doi_so_luong(id, giaban) {
		var gio_hang = JSON.parse(sessionStorage.getItem('gio_hang'));
		var sl = document.getElementById('so_luong_' + id).value
		if (Number(sl) <= 0) {
			alert('Số lượng không hợp lệ!')
			return
		}
		await gio_hang.forEach(row => {
			if (row.id == id) {
				tongtien -= Number(row.so_luong) * Number(giaban)
				row.so_luong = Number(sl)
				tongtien += Number(sl) * Number(giaban)
				tinh_tong_tien.innerHTML = tongtien.toLocaleString('en-GB')
			}
		});
		sessionStorage.setItem('gio_hang', JSON.stringify(gio_hang))
	}

	function dat_hang()
	{
		dong_xac_nhan.click();
		btn_thong_bao.click();
		if(sessionStorage.getItem('khach_hang_Ten')==null)
		{
			window.location=window.location.origin + "/dangnhap"
		}
		else
		{
			var ct=JSON.parse(sessionStorage.getItem('gio_hang'))
			var form_data={
			'khach_hang_Id':sessionStorage.getItem('khach_hang_Id'),
			'chi_tiet' : sessionStorage.getItem('gio_hang')
			}
			$.ajax({
			url: window.location.origin + "/thanh-toan",
			type: "POST",
			data:form_data,
			success: (data) => {
				if(data.errorCode==0)
				TH_thong_bao.innerHTML=`Đặt hàng thành công`
				var socket = io();
				socket.emit("user-send-message",`${data.ma_hd} - ${sessionStorage.getItem('khach_hang_Ten')}`);
				setTimeout(() => {
					sessionStorage.removeItem('gio_hang')
					window.location = "/giohang"
				}, 1500);
				
			}

		})
		}
	}

	function xoa_gio_hang() {
		if (confirm("Xác nhận xoá giỏ hàng")) {
			sessionStorage.removeItem('gio_hang')
			window.location = "/giohang"
		}

	}

	function xoa_1_gio_hang(id) {
		gio_hang = JSON.parse(sessionStorage.getItem('gio_hang'));
		gio_hang = gio_hang.filter(x => x.id != id)
		if (gio_hang.length == 0) {
			sessionStorage.removeItem('gio_hang')
			window.location = "/giohang"
		} else {
			sessionStorage.setItem('gio_hang', JSON.stringify(gio_hang))
			window.location = "/giohang"
		}
	}

	function doc_san_pham(id, stt, soluong) {
		$.ajax({
			url: window.location.origin + "/tim-kiem/gio-hang/" + id,
			type: "GET",
			success: (data) => {
				var kq = JSON.parse(data)
				tongtien += Number(soluong) * Number(kq[0].gia_ban)
				tinh_tong_tien.innerHTML = tongtien.toLocaleString('en-GB')
				TH_gio_hang.innerHTML += `
				<tr>
					<td class="invert">${stt}</td>
					<td class="invert-image"><a href="/chitiet/${bo_dau(kq[0].ten_sp)}/${kq[0]._id}/${kq[0].loaisp[0]._id}">
						<img style="width:70px" src="/static/images/${kq[0].loaisp[0].thu_muc_hinh}/${kq[0].hinh_anh}" alt=" " class="img-responsive" />
						</a></td>
					<td class="invert">
						<input type="number" onchange="doi_so_luong('${kq[0]._id}','${kq[0].gia_ban}')" id="so_luong_${kq[0]._id}" class="form-control" style="width:65px; margin:0 auto" name="" value="${soluong}">
					</td>
					<td class="invert">${kq[0].ten_sp}</td>
					<td class="invert">${(kq[0].gia_ban).toLocaleString('en-GB')} VNĐ</td>
					<td class="invert" style="margin:0 auto">
					<a href="#" onclick="xoa_1_gio_hang('${kq[0]._id}')" class="text-danger"><i class="fa fa-remove"></i></a>
					</td>
				</tr>
				`
			}

		})
	}
	if (sessionStorage.getItem('gio_hang') == null) {
		checkout.innerHTML = `
	<p align="center" style="color:#F00; font-size:24px; font-weight:bold"><br>Chưa có sản phẩm nào trong giỏ</p>
	`
	} else {
		var gio_hang = JSON.parse(sessionStorage.getItem('gio_hang'));
		var stt = 1;
		gio_hang.forEach(row => {
			doc_san_pham(row.id, stt++, row.so_luong)
		});
	}
</script>
<% include layout/footer %>