<% include layout/head %>
<% include layout/header %>
<% include layout/nav %>
<div class="container page-container">
	<div class="page contact-page">
		<h1 class="generalTitle">Liên hệ với chúng tôi</h1>
		<div class="generalMarginSupporter text-xs-left">
			<div class="generalMarginSupporter">
				<div class="topic-block-body mpt-3 pt-3">
					<p>Hãy để lại thông tin và nội dung của bạn phía dưới</p>
				</div>
			</div>
			<div class="form-fields">
				<div class="form-group">
					<label class="col-form-label" for="">Họ tên:</label>
					<input placeholder="hập họ tên" class="fullname form-control" type="text" id="FullName" name="FullName" value="">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="">Điện thoại:</label>
					<input placeholder="hập số điệ thoại" class="fullname form-control" type="text" id="FullName" name="FullName" value="">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="">Emmail:</label>
					<input placeholder="Enter your email address" class="form-control email" type="text" data-val="true"
						data-val-email="Wrong email" data-val-required="Enter email" id="Email" name="Email" value="">
					<span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
				</div>
				<div class="form-group">
					<label class="col-form-label" for="">Enquiry:</label>
					<textarea placeholder="Enter your enquiry" class="form-control enquiry" data-val="true"
						data-val-required="Enter enquiry" id="Enquiry" name="Enquiry"></textarea>
					<span class="field-validation-valid" data-valmsg-for="Enquiry" data-valmsg-replace="true"></span>
				</div>
			</div>
			<div class="buttons mt-1 mb-1">
				<input type="button" name="send-email" class="btn btn-info contact-us-button" value="Gửi">
			</div>
		</div>
	</div>
</div>
<% include layout/footer %>