<% include ../layout/head %>
<% include ../layout/header %>
<% include ../layout/nav %>
<% include ../layout/thanh_trang_thai %>
<script>
    if(sessionStorage.getItem('khach_hang_Ten')==null || sessionStorage.getItem('khach_hang_Id')==null)
    {
        window.location=window.location.origin
    }
</script>
<div class="container page-container">
  <div class="page home-page custom-container">
  <ul class="nav nav-pills nav-fill m-3">
      <li class="nav-item disabled" >
          <a class="nav-link btn btn-info mx-2 mt-2 text-white" onclick="window.location='/users/doi-mat-khau'">Đổi mật khẩu</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info mx-2 mt-2 text-white" onclick="window.location='/users'">Thông tin cá nhân</a>
      </li>
      <li class="nav-item disabled">
          <a class="nav-link btn btn-info mx-2 mt-2 text-white disabled">Thông tin đơn hàng</a>
      </li>
  </ul>
<div class="register">
  <div class="container">
    <h2 class="text-center">Danh sách đơn hàng</h2>
    <br>
  <table id="table_don_hang" class="table table-striped table-hover table-responsive d-md-table">
    <thead>
      <tr>
        <th>Mã</th>
        <th>Ngày đặt</th>
        <th>Tổng tiền</th>
        <th>Trạng thái</th>
        <th>Ghi chú</th>
      </tr>
    </thead>
    <tbody id="TH_don_hang">
    </tbody>
  </table>
  </div>
</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-don-hang" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chi tiết đơn hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <table class="table table-striped table-hover table-responsive d-md-table">
        <thead>
          <tr>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
          </tr>
        </thead>
        <tbody id="TH_chi_tiet_don_hang">
          <tr>
            <td><img src="/static/images/11.jpg" alt="" style="width:100px;"/></td>
            <td>Tvi abc</td>
            <td>1</td>
            <td>10,000,000 VNĐ</td>
            <td>10,000,000 VNĐ</td>
          </tr>
    </tbody>
  </table>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" onclick="in_hoa_don()">In</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div class="d-none text-center" id='TH_in_hd'>
<h1>Tên cửa hàng</h1>
<p>01234456789  10:AM-22PM</p>
<p>Địa chỉ</p>
<div id="id_qrcode" class="my-3"></div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên hàng</th>
        <th>SL</th>
        <th>Giá</th>
        <th>Thành Tiền</th>
      </tr>
    </thead>
    <tbody id="TH_table_in_hd">

    </tbody>
  </table>
</div>
 <% include ../layout/footer %>
 <script>
function tao_qrcode(id)
{
  id_qrcode.innerHTML=``
  var qrcode = new QRCode("id_qrcode", {
    text:id,
    width:100,
    height:100,
    colorDark:"#000000",
    colorLight:"#ffffff"
  });
}
function in_hoa_don()
{
  const mywindow = window.open('');
  mywindow.document.write('<html><head><title>In hóa đơn</title>');
  mywindow.document.write("<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" type=\"text/css\"/>");
  mywindow.document.write('</head><body>');
  mywindow.document.write(document.getElementById('TH_in_hd').innerHTML);
  mywindow.document.write('</body></html>');
  mywindow.document.close();
  mywindow.focus();
  mywindow.print();
  mywindow.close();
}
</script>
<script>
function tong_tien(arr){
  var tien=0;
  arr.forEach(row => {
    tien+=Number(row.so_luong)*Number(row.gia_ban)
  });
  return tien;
}
function tim_thu_muc(arr){
  arr.forEach(row => {
    $.ajax({
      url: window.location.origin + "/tim-kiem/gio-hang/"+row.id,
      type: "GET",
      success: (data) => {
        data=JSON.parse(data)
        var aa=document.getElementById('img_chi_tiet_'+row.id).src=`/static/images/${data[0].loaisp[0].thu_muc_hinh}/`+row.name
      }
  })
  });
}
function chi_tiet_don_hang(id,ma_hd){
  tao_qrcode(ma_hd);
  var ds_img=[]
  $.ajax({
    url: window.location.origin + "/users/don-hang/chi-tiet",
    type: "POST",
    data: {'id_hoa_don':id},
    success: (data) => {
      TH_chi_tiet_don_hang.innerHTML=``
      TH_table_in_hd.innerHTML=``
      var dem=1;
      data.forEach(row => {
        ds_img.push({'name':row.san_pham.hinh_anh,'id':row.san_pham._id})
        TH_chi_tiet_don_hang.innerHTML+=`
          <tr>
            <td><img class="img-fluid" style="width:100px;" id="img_chi_tiet_${row.san_pham._id}" name="${row.san_pham.hinh_anh}" alt="" style=""/></td>
            <td>${row.san_pham.ten_sp}</td>
            <td>${row.so_luong}</td>
            <td>${row.gia_ban.toLocaleString('en-GB')} VNĐ</td>
            <td>${(Number(row.so_luong)*Number(row.gia_ban)).toLocaleString('en-GB')} VNĐ</td>
          </tr>
        `
        TH_table_in_hd.innerHTML+=`
          <tr>
            <td>${dem++}</td>
            <td>${row.san_pham.ten_sp}</td>
            <td>${row.so_luong}</td>
            <td>${row.gia_ban.toLocaleString('en-GB')}</td>
            <td>${(Number(row.so_luong)*Number(row.gia_ban)).toLocaleString('en-GB')}</td>
          </tr>
        `
        tim_thu_muc(ds_img)
      });
    },
})
}

$.ajax({
    url: window.location.origin + "/users/don-hang",
    type: "POST",
    data: {'khach_hang_Id':sessionStorage.getItem('khach_hang_Id')},
    success: (data) => {
      TH_don_hang.innerHTML=``
      data.forEach(row => {
        TH_don_hang.innerHTML+=`
          <tr data-toggle="modal" data-target="#modal-don-hang" onclick="chi_tiet_don_hang('${row._id}','${row.ma_hd}')">
            <td>${row.ma_hd}</td>
            <td>${row.ngay_lap.split('T')[0]}</td>
            <td>${tong_tien(row.chi_tiet).toLocaleString('en-GB')} VNĐ</td>
            <td>${row.trang_thai}</td>
            <td>${row.ghi_chu}</td>
          </tr>
        `
      });
      $('#table_don_hang').DataTable();
    }
})
</script>

