<% include ../layout/head %>
<% include ../layout/header %>
<% include ../layout/nav %>
<% include ../layout/thanh_trang_thai %>
<div class="container page-container">
  <div class="page home-page custom-container">
  <ul class="nav nav-pills nav-fill m-3">
      <li class="nav-item" >
          <a class="nav-link btn btn-info mx-2 mt-2 text-white" onclick="window.location='/users/doi-mat-khau'">Đổi mật khẩu</a>
      </li>
      <li class="nav-item disabled">
          <a class="nav-link btn btn-info mx-2 mt-2 text-white disabled">Thông tin cá nhân</a>
      </li>
      <li class="nav-item" onclick="window.location='/users/don-hang'">
          <a class="nav-link btn btn-info mx-2 mt-2 text-white">Thông tin đơn hàng</a>
      </li>
  </ul>
  <div class="register">
    <div class="container">
      <div class="text-center">
        <h5 class="my-3">Thông tin cá nhân</h5>
          <input type="text" name="ten_khach_hang" class="form-control my-3" id="dang_ky_ten_khach_hang" placeholder="Họ tên..." required >
          <input type="text" name="dia_chi" class="form-control my-3" id="dang_ky_dia_chi" placeholder="Địa chỉ..." required >
          <input type="text" name="dien_thoai"class="form-control my-3" id="dang_ky_dien_thoai" placeholder="Điện thoại..." required >
        <h5 class="my-3">Thông tin đăng nhập</h5>
          <input type="email" name="email" class="form-control my-3" id="dang_ky_email" placeholder="Địa chỉ Email" readonly >
          <input type="button" class="btn btn-primary my-3" name="btn_dang_ky" value="Cập nhật">
      </div>

      </div>
      </div>
    </div>
</div>
 <% include ../layout/footer %>
 <script>
    dang_ky_ten_khach_hang.value=sessionStorage.getItem('khach_hang_Ten')
    dang_ky_dia_chi.value=sessionStorage.getItem('khach_hang_Dia_chi')
    dang_ky_dien_thoai.value=sessionStorage.getItem('khach_hang_Dien_thoai')
    dang_ky_email.value=sessionStorage.getItem('khach_hang_Email')
 </script>
