<div class="newsletter mt-3 bg-info col-12">
            <div class="d-flex justify-content-center justify-content-lg-start">
                <div class="newsletter-subscribe container w-100" id="newsletter-subscribe-block">
                    <div class="d-flex flex-row row">
                        <div class="col-lg-7 col-12 px-0 d-flex flex-column align-items-start">
                            <div class="newsletter-title">
                                Nhận thông báo
                            </div>
                            <div class="newsletter-desc">
                                Đăng ký để nhận thông báo từ cửa hàng
                            </div>
                        </div>
                        <div
                            class="col-lg-5 col-12 px-lg-3 pr-lg-0 px-0 mt-lg-0 mt-3 input-group flex-row align-items-center newsletter-inputs">
                            <input class="form-control" id="newsletter-email" placeholder="Nhập email..."
                                aria-label="Enter your email here..." type="email" required name="NewsletterEmail" value="">
                            <label for="newsletter-email" class="sr-only">newsletter</label>
                            <div class="input-group-prepend newsletter-button-container">
                                <button class="btn btn-outline-white d-flex align-items-center" onclick="dang_ky_nhan_mail()" data-toggle="modal" data-target="#modal-nhan-mail" type="button"><span
                                        class="material-icons mat">local_post_office</span></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="mt-3">
            <div class="container max-100">
                <div class="row flex-row">

                    <div id="footer-block-my-account"
                        class="col-lg-12 col-md-12 col-sm-12 footer-block my-account block">
                        <div class="step-title card mb-1 p-3 d-lg-none">
                            <blockquote class="card-bodyquote">
                                <span class="h5"><strong>Thông tin tài khoản</strong></span>
                                <span class="lnr linearicons-chevron-down d-lg-none float-right"
                                    aria-hidden="true"></span>
                            </blockquote>
                        </div>
                        <div class="viewBox">
                            <ul class="pl-0 list-group list-pad">
                                <li class="list-group-item"><a href="/customer/info">Tài khoản</a></li>
                                <li class="list-group-item"><a href="/order/history">Đơn hàng</a></li>
                                <li class="list-group-item"><a href="/customer/addresses">Địa chỉ giao</a></li>
                                <li class="list-group-item"><a href="/cart">Giỏ hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="footer-block-about-us" class="col-lg-12 col-md-12 col-sm-12 footer-block about-us block">
                        <div class="viewBox">
                            <ul class="pl-0 list-group list-pad">
                                <li class="list-group-item">
                                    <span>Địa chỉ:</span>
                                    <span>140 Lê Trọng Tấn</span>
                                </li>
                                <li class="list-group-item">
                                    <span>Email:</span>
                                    <span>company@email.com</span>
                                </li>
                                <li class="list-group-item">
                                    <span>Điện thoại:</span>
                                    <span>(123) 456-78901</span>
                                </li>
                                <li class="list-group-item">
                                    <span>Giờ mở cửa:</span>
                                    <span>8:00AM - 18:00PM</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ol
                        class="d-flex flex-row list-group justify-content-center w-100 flex-wrap social-icons list-pad pb-0">
                        <li class="list-group-item facebook">
                            <a title="facebook" href="https://www.facebook.com/hominhtien97" rel="noopener"
                                target="_blank">
                                <i class="fa fa-facebook"></i>

                            </a>
                        </li>
                        <li class="list-group-item twitter">
                            <a title="twitter" href="https://twitter.com/grandnode" rel="noopener" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-group-item youtube">
                            <a title="youtube" href="http://www.youtube.com/user/grandnode" rel="noopener"
                                target="_blank">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                        <li class="list-group-item instagram">
                            <a href="https://www.instagram.com/grandnode/" rel="noopener" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="footer-lower small">
                    <div class="row">
                        <div class="col-12 col-md pb-1 pt-1 flex-column text-lg-left text-center copyright">
                            <span class="footer-disclaimer">Copyright © 2019 Your store name. All rights
                                reserved.</span>
                        </div>

                        <div class="col-12 col-md-4  pb-1 pt-1 text-center text-lg-right">
                            <a class="pr-1 text-success" href="http://www.grandNode.com/">GrandNode</a><span>- Powered
                                by </span><a href="http://www.nopcommerce.com/">nopCommerce </a>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <a href="#" id="back-to-top" title="Lên trên" class="">
            <span class="material-icons mat">
                keyboard_arrow_up
            </span>
        </a>
    </main>
    <aside class="js-offcanvas mobile-menu c-offcanvas c-offcanvas--left c-offcanvas--overlay is-closed" id="left"
        role="dialog" tabindex="-1" aria-hidden="true">
        <ul class="nav nav-pills" id="pills-mobile-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-menu-tab" data-toggle="pill" href="#pills-menu" role="tab"
                    aria-controls="pills-menu" aria-selected="true">Menu</a>
            </li>
            <li class="nav-item" style="display: none;">
                <a class="nav-link" id="pills-manufacturers-tab" data-toggle="pill" href="#pills-manufacturers"
                    role="tab" aria-controls="pills-manufacturers" aria-selected="false">Manufacturers</a>
            </li>
            <li class="nav-item" style="display: none;">
                <a class="nav-link" id="pills-links-tab" data-toggle="pill" href="#pills-links" role="tab"
                    aria-controls="pills-links" aria-selected="false">Links</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-mobile-tabContent">
            <div class="tab-pane fade show active" id="pills-menu" role="tabpanel" aria-labelledby="pills-menu-tab">
            </div>
            <div class="tab-pane fade" id="pills-manufacturers" role="tabpanel"
                aria-labelledby="pills-manufacturers-tab"></div>
            <div class="tab-pane fade" id="pills-links" role="tabpanel" aria-labelledby="pills-links-tab">
                <ul class="dropdown-menu links-dropdown first-level"></ul>
            </div>
        </div>
    </aside>
    <a class="js-offcanvas-trigger filter-button btn btn-outline-info d-none mb-3 c-button"
        data-offcanvas-trigger="leftSide" href="#leftSide" role="button" aria-controls="leftSide"
        aria-expanded="false"><span class="c-button__text"><span class="material-icons">tune</span><span
                class="ml-3">Filters</span></span></a>
    <aside class="js-offcanvas mobile-filters c-offcanvas is-closed c-offcanvas--left c-offcanvas--overlay"
        data-offcanvas-options="{&quot;modifiers&quot;:&quot;left,overlay&quot;,&quot;modal&quot;:true,&quot;resize&quot;:true}"
        id="leftSide" role="dialog" tabindex="-1" aria-hidden="true"></aside>
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-nhan-mail" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body" id="TH_thong_bao_nhan_mail">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
        <!--Quick Search Modal -->
    <div class="modal fade" id="modal-quick-search" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-quickview" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xem nhanh</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="TH_quick_view">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal -->
    <div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form id="small-search-box-form" novalidate="novalidate">
    <input type="hidden" value="true" data-val="true" data-val-required="The Box field is required." id="Box" name="Box">
    <label for="small-searchterms" class="sr-only">Search store</label>
    <div class="input-group flex-row">
        <input type="text" class="form-control search-box-text ui-autocomplete-input" id="keyword_footer" autocomplete="off" name="q" placeholder="Nhập từ khóa">
        <div class="input-group-append">
            <button type="button" onclick="kiem_tra_tim_kiem_footer()" class="btn btn-info search-box-button float-sm-right d-inline-flex">
                <span class="sr-only">Search store</span>
                <span class="material-icons mat">
                    search
                </span>
            </button>
        </div>
        <ul class="advanced-search-results row">
            <li class="left-side col-md-6 col-12">
                <ul>
                    <li class="categories-container">
                        <a class="title">Categories</a>
                        <div class="no-data pl-md-3 pl-0">No categories were found that matched your criteria.</div>
                        <ul></ul>
                    </li>
                    <li class="manufacturers-container">
                        <a href="/manufacturer/all" class="title">Manufacturers</a>
                        <div class="no-data pl-0">No manufacturers were found that matched your criteria.</div>
                        <ul></ul>
                    </li>
                </ul>
            </li>
            <li class="right-side col-md-6 col-12">
                <a class="products-title title">Products</a>
                <div class="no-data pl-md-3 pl-0">No products were found that matched your criteria.</div>
                <ul class="products-container"></ul>
            </li>
            <li class="center-side col-12">
                <ul>
                    <li class="blog-container mb-3">
                        <a href="/blog" class="title">Blog</a>
                        <div class="no-data pl-md-3 pl-0">No blog posts were found that matched your criteria.</div>
                        <ul></ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</form></div>
    </div>
    </div>
    
    <script>
        function quick_view_click(id) {
            TH_quick_view.innerHTML=``
            $.ajax({
                url: window.location.origin + "/tim-kiem/gio-hang/" + id,
                type: "GET",
                success: (data) => {
                    var kq = (JSON.parse(data))[0]
                    TH_quick_view.innerHTML += `
                    <div class="page product-details-page">
                        <div class="item-container col d-md-inline-flex d-md-flex px-0">
                            <!--product pictures-->
                            <div class="gallery col-12 col-md-6 pt-lg-0 pt-3 px-0">
                                <img class="img-fluid" alt="${kq.ten_sp}"
                                    src="/static/images/${kq.loaisp[0].thu_muc_hinh}/${kq.hinh_anh}">
                            </div>
                            <div class="overview col-12 col-md-6">
                                <h2 class="generalTitle" itemprop="name">
                                    ${kq.ten_sp}
                                </h2>
                                <div class="short-description generalMarginSupporter">
                                ${kq.noi_dung}
                                </div>
                                <!--product reviews-->
                                <div class="quickview-reviews">
                                    <div class="product-reviews-overview d-inline-flex align-items-center flex-wrap">
                                        <div class="product-review-box d-inline-block">
                                            <div class="rating">
                                                <div class="rating-ghost">
                                                    ☆☆☆☆☆
                                                </div>
                                                <div class="rating-real" style="width: ${diem_trung_binh(kq.diem_so)}%">
                                                    ★★★★★
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="manufacturers generalMarginSupporter">
                                    <span class="label">Thương hiệu:</span>
                                    <span class="value">
                                    ${kq.thuonghieu[0].ten_thuong_hieu}
                                    </span>
                                </div>
                                <!--availability-->
                                <div class="availability generalMarginSupporter">
                                    <div class="stock">
                                        <span class="label">Tình trạng:</span>
                                        <span class="value">
                                            ${kq.trang_thai=="kinh doanh"?"Còn hàng":"Hết hàng"}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-12 px-0">
                                    <span itemprop="price" content="1800.00"
                                        class="actual-price">
                                        <strong class="actual-price">${(kq.gia_ban).toLocaleString()} VNĐ</strong>
                                    </span>
                                </div>
                                <div class="col-lg-12 generalAdToCart px-0 my-3">
                                    <div class="btn-group product-simple-share my-2 d-inline-flex flex-wrap">
                                    <input type="button" id="add_${kq._id}" onclick="them_1_gio_hang('${kq._id}')" class="btn btn-info btnAdd w-100"
                                        value="Thêm vào giỏ">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    `
                }

            })
        }
    </script>
    <script>
    $(document).ready(function () {
        if(sessionStorage.getItem('khach_hang_Ten')==null || sessionStorage.getItem('khach_hang_Id')==null)
        {
            TH_dangnhap_dangxuat.innerHTML=`
            <a class="nav-link mr-2" href="/dangnhap">
                <span class="hl-label">
                    <span class="material-icons mat">
                        lock_open
                    </span>
                </span>
                <span class="d-flex align-items-center mobile-desc">Đăng nhập</span>
            </a>
            <a class="nav-link ml-2" href="/dangky">
                <span class="hl-label">
                    <span class="material-icons mat">
                        lock
                    </span>
                </span>
                <span class="d-flex align-items-center mobile-desc">Đăng ký</span>
            </a>
            `
        }
        else
        {
            TH_dangnhap_dangxuat.innerHTML=`
                <a class="nav-link mr-2" href="/users">
                    <span class="hl-label">
                        <span class="material-icons mat">
                            perm_identity
                        </span>
                    </span>
                    <span class="d-flex align-items-center mobile-desc">Chào: ${sessionStorage.getItem('khach_hang_Ten')}</span>
                </a>
                <a class="nav-link ml-2" href="#" id="TH_dang_xuat" onclick="dangxuat()">
                    <span class="hl-label">
                        <span class="material-icons mat">
                            lock
                        </span>
                    </span>
                    <span class="d-flex align-items-center mobile-desc">Đăng xuất</span>
                </a>
            `
        }
    
        if(sessionStorage.getItem('gio_hang') != null)
        {
            so_san_pham.innerHTML=JSON.parse(sessionStorage.getItem('gio_hang')).length
        }
        
    });
    </script>
    <script>
	
	function dangxuat(){
		sessionStorage.removeItem('khach_hang_Ten')
		sessionStorage.removeItem('khach_hang_Id')
		sessionStorage.removeItem('khach_hang_Email')
		sessionStorage.removeItem('khach_hang_Dia_chi')
		sessionStorage.removeItem('khach_hang_Dien_thoai')
		window.location=window.location.origin
	}
    </script>
    <script>
    function checkEmail(email) {
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (!filter.test(email)) {
            email.focus;
            return false;
        }
        return true
    }
    function dang_ky_nhan_mail()
    {
        if(checkEmail(document.getElementById('newsletter-email').value))
        {
            $.ajax({
                url: window.location.origin+'/nhan-mail',
                type: "POST",
                data: {'email':document.getElementById('newsletter-email').value},
                success: (data) => {
                    TH_thong_bao_nhan_mail.innerHTML=data.message
                }
            })
        }
        else
        {
            TH_thong_bao_nhan_mail.innerHTML='Email không hợp lệ'
        }
    }
    </script>
    <script type="text/javascript">
		$(document).ready(function() {
			$('.fancybox').fancybox();
		});
	</script>
    <script type='text/javascript' data-cfasync='false'>
        window.purechatApi = {
            l: [],
            t: [],
            on: function () {
                this.l.push(arguments);
            }
        };
        (function () {
            var done = false;
            var script = document.createElement('script');
            script.async = true;
            script.type = 'text/javascript';
            script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
            document.getElementsByTagName('HEAD').item(0).appendChild(script);
            script.onreadystatechange = script.onload = function (e) {
                if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState ==
                        'complete')) {
                    var w = new PCWidget({
                        c: 'b535038f-ff99-44bd-b14b-5ad388509e17',
                        f: true
                    });
                    done = true;
                }
            };
        })();
    </script>
    <script>
    $(document).ready(function() {
        $(".btnAdd").click(function(){
            if($(this).val()=="Thêm vào giỏ")
            {
                $(this).css({"background-color":"#9C3"})
                $(this).val("✔ đã thêm")
                $this=$(this)
                setTimeout(function(){
                    $this.val("Thêm vào giỏ")
                    $this.css({"background-color":"#0091b5"});
                    },1000)
                var id=$(this).attr("data_id");
                var gio_hang;
                if (sessionStorage.getItem('gio_hang') == null) {
                    gio_hang = [];
                } else {
                    gio_hang = JSON.parse(sessionStorage.getItem('gio_hang'));
                }
                if(gio_hang.find(x=>x.id==id)==undefined)
                {
                    gio_hang.push({'id':id,'so_luong':1})
                    sessionStorage.setItem('gio_hang', JSON.stringify(gio_hang))
                    so_san_pham.innerHTML=gio_hang.length
                }
            }
        });
    });
    </script>
</body>

</html>