<html>
<head>
    <title><%= tieude%></title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="generator" content="grandnode">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <script src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen" />
    <script type="text/javascript" src="/js/pnotify.custom.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/myscript.js"></script>
    <script src="/js/firebase-messaging-sw.js"></script>
    <script type="text/javascript">
        var subscribersSiteId = 'e04c1805-54d9-4303-a07b-ee49647bb1e6';
    </script>
    <script type="text/javascript" src="https://cdn.subscribers.com/assets/subscribers.js"></script>
    
</head>