<html>
<head>
    <title><%= tieude%></title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="generator" content="grandnode">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="http://demo.grandnode.com/favicon.ico">
    <script src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen" />
    <script src="/js/myscript.js"></script>
</head>