<nav class="navbar mainNav navbar-expand-sm offcanvas-desktop">
            <div class="navbar-collapse container">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">

                        <a id="5c861fb157d5a11c90420f7f-menu" class="nav-link dropdown-toggle  " data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" href="/tivi">
                            <span>Tivi</span>
                            <span class="material-icons mat arrow-down">
                                keyboard_arrow_down
                            </span>
                        </a>
                        <ul class="dropdown-menu first-level" aria-labelledby="5c861fb157d5a11c90420f7f-menu">
                            <li class="nav-item cat-back d-lg-none d-inline-flex">
                                <a class="nav-link justify-content-start align-items-center"
                                    onclick="$(this).parent().removeClass('show');">
                                    <span class="material-icons mat">
                                        keyboard_arrow_left
                                    </span>
                                    <span>Quay lại</span>
                                </a>
                            </li>
                            <li class="nav-item d-lg-none d-inline-flex sub-cat-name-container">
                                <a class="nav-link sub-cat-name" href="/tivi">
                                    <span><strong>Tất cả</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f81-menu" class="nav-link  " href="/tivi/samsung">
                                    <span>SAMSUNG</span>
                                </a>

                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f83-menu" class="nav-link  " href="/tivi/lg">
                                    <span>LG</span>
                                </a>

                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f85-menu" class="nav-link  " href="/tivi/sony">
                                    <span>SONY</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">

                        <a id="5c861fb157d5a11c90420f87-menu" class="nav-link dropdown-toggle  " data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" href="/tulanh">
                            <span>Tủ lạnh</span>
                            <span class="material-icons mat arrow-down">
                                keyboard_arrow_down
                            </span>
                        </a>

                        <ul class="dropdown-menu first-level" aria-labelledby="5c861fb157d5a11c90420f87-menu">
                            <li class="nav-item cat-back d-lg-none d-inline-flex">
                                <a class="nav-link justify-content-start align-items-center"
                                    onclick="$(this).parent().removeClass('show');">
                                    <span class="material-icons mat">
                                        keyboard_arrow_left
                                    </span>
                                    <span>Quay lại</span>
                                </a>
                            </li>
                            <li class="nav-item d-lg-none d-inline-flex sub-cat-name-container">
                                <a class="nav-link sub-cat-name" href="/tulanh">
                                    <span><strong>Tất cả</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f89-menu" class="nav-link  " href="/tulanh/samsung">
                                    <span>SAMSUNG</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f8b-menu" class="nav-link  " href="/tulanh/toshiba">
                                    <span>TOSHIBA</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f8d-menu" class="nav-link  " href="/tulanh/panasonic">
                                    <span>PANASONIC</span>
                                </a>

                            </li>


                        </ul>
                    </li>


                    <li class="nav-item dropdown">

                        <a id="5c861fb157d5a11c90420f8f-menu" class="nav-link dropdown-toggle  " data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" href="/maylanh">
                            <span>Máy lạnh</span>
                            <span class="material-icons mat arrow-down">
                                keyboard_arrow_down
                            </span>
                        </a>

                        <ul class="dropdown-menu first-level" aria-labelledby="5c861fb157d5a11c90420f8f-menu">
                            <li class="nav-item cat-back d-lg-none d-inline-flex">
                                <a class="nav-link justify-content-start align-items-center"
                                    onclick="$(this).parent().removeClass('show');">
                                    <span class="material-icons mat">
                                        keyboard_arrow_left
                                    </span>
                                    <span>Quay lại</span>
                                </a>
                            </li>
                            <li class="nav-item d-lg-none d-inline-flex sub-cat-name-container">
                                <a class="nav-link sub-cat-name" href="/maylanh">
                                    <span><strong>Tất cả</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f91-menu" class="nav-link  " href="/maylanh/lg">
                                    <span>LG</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f93-menu" class="nav-link  " href="/maylanh/panasonic">
                                    <span>PANASONIC</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/maylanh/toshiba">
                                    <span>TOSHIBA</span>
                                </a>

                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/maylanh/hitachi">
                                    <span>HITACHI</span>
                                </a>

                            </li>


                        </ul>
                    </li>

                    <li class="nav-item dropdown">

                        <a id="5c861fb157d5a11c90420f8f-menu" class="nav-link dropdown-toggle  " data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" href="/apparel">
                            <span>Máy giặt</span>
                            <span class="material-icons mat arrow-down">
                                keyboard_arrow_down
                            </span>
                        </a>

                        <ul class="dropdown-menu first-level" aria-labelledby="5c861fb157d5a11c90420f8f-menu">
                            <li class="nav-item cat-back d-lg-none d-inline-flex">
                                <a class="nav-link justify-content-start align-items-center"
                                    onclick="$(this).parent().removeClass('show');">
                                    <span class="material-icons mat">
                                        keyboard_arrow_left
                                    </span>
                                    <span>Quay lại</span>
                                </a>
                            </li>
                            <li class="nav-item d-lg-none d-inline-flex sub-cat-name-container">
                                <a class="nav-link sub-cat-name" href="/apparel">
                                    <span><strong>Tất cả</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f91-menu" class="nav-link  " href="/shoes">
                                    <span>LG</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f93-menu" class="nav-link  " href="/clothing">
                                    <span>AQUA</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/accessories">
                                    <span>TOSHIBA</span>
                                </a>

                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/accessories">
                                    <span>SAMSUNG</span>
                                </a>

                            </li>


                        </ul>
                    </li>
                    <li class="nav-item dropdown">

                        <a id="5c861fb157d5a11c90420f8f-menu" class="nav-link dropdown-toggle  " data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" href="/apparel">
                            <span>Điện thoại</span>
                            <span class="material-icons mat arrow-down">
                                keyboard_arrow_down
                            </span>
                        </a>

                        <ul class="dropdown-menu first-level" aria-labelledby="5c861fb157d5a11c90420f8f-menu">
                            <li class="nav-item cat-back d-lg-none d-inline-flex">
                                <a class="nav-link justify-content-start align-items-center"
                                    onclick="$(this).parent().removeClass('show');">
                                    <span class="material-icons mat">
                                        keyboard_arrow_left
                                    </span>
                                    <span>Quay lại</span>
                                </a>
                            </li>
                            <li class="nav-item d-lg-none d-inline-flex sub-cat-name-container">
                                <a class="nav-link sub-cat-name" href="/apparel">
                                    <span><strong>Tất cả</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f91-menu" class="nav-link  " href="/shoes">
                                    <span>IPHONE</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f93-menu" class="nav-link  " href="/clothing">
                                    <span>SAMSUNG</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/accessories">
                                    <span>OPPO</span>
                                </a>

                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/accessories">
                                    <span>VIVO</span>
                                </a>

                            </li>


                        </ul>
                    </li>
                    <li class="nav-item dropdown">

                        <a id="5c861fb157d5a11c90420f8f-menu" class="nav-link dropdown-toggle  " data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" href="/apparel">
                            <span>Laptop</span>
                            <span class="material-icons mat arrow-down">
                                keyboard_arrow_down
                            </span>
                        </a>

                        <ul class="dropdown-menu first-level" aria-labelledby="5c861fb157d5a11c90420f8f-menu">
                            <li class="nav-item cat-back d-lg-none d-inline-flex">
                                <a class="nav-link justify-content-start align-items-center"
                                    onclick="$(this).parent().removeClass('show');">
                                    <span class="material-icons mat">
                                        keyboard_arrow_left
                                    </span>
                                    <span>Quay lại</span>
                                </a>
                            </li>
                            <li class="nav-item d-lg-none d-inline-flex sub-cat-name-container">
                                <a class="nav-link sub-cat-name" href="/apparel">
                                    <span><strong>Tất cả</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f91-menu" class="nav-link  " href="/shoes">
                                    <span>APPLE</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f93-menu" class="nav-link  " href="/clothing">
                                    <span>DELL</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/accessories">
                                    <span>ASUS</span>
                                </a>

                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/accessories">
                                    <span>MSI</span>
                                </a>

                            </li>


                        </ul>
                    </li>
                    <li class="nav-item dropdown">

                        <a id="5c861fb157d5a11c90420f8f-menu" class="nav-link dropdown-toggle  " data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" href="/apparel">
                            <span>Linh phụ kiện</span>
                            <span class="material-icons mat arrow-down">
                                keyboard_arrow_down
                            </span>
                        </a>

                        <ul class="dropdown-menu first-level" aria-labelledby="5c861fb157d5a11c90420f8f-menu">
                            <li class="nav-item cat-back d-lg-none d-inline-flex">
                                <a class="nav-link justify-content-start align-items-center"
                                    onclick="$(this).parent().removeClass('show');">
                                    <span class="material-icons mat">
                                        keyboard_arrow_left
                                    </span>
                                    <span>Quay lại</span>
                                </a>
                            </li>
                            <li class="nav-item d-lg-none d-inline-flex sub-cat-name-container">
                                <a class="nav-link sub-cat-name" href="/apparel">
                                    <span><strong>Tất cả</strong></span>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f91-menu" class="nav-link  " href="/shoes">
                                    <span>Tai nghe có dây</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f93-menu" class="nav-link  " href="/clothing">
                                    <span>Tai nghe không dây</span>
                                </a>

                            </li>


                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/accessories">
                                    <span>Pin sạc dự phòng</span>
                                </a>

                            </li>
                            <li class="nav-item">

                                <a id="5c861fb157d5a11c90420f95-menu" class="nav-link  " href="/accessories">
                                    <span>Dây, cáp sạc</span>
                                </a>

                            </li>


                        </ul>
                    </li>
                    <li class="nav-item">

                        <a id="5c861fb257d5a11c90420f9d-menu" class="nav-link  " href="/gift-cards">
                            <span>Liên hệ</span>
                        </a>

                    </li>






                </ul>
            </div>
        </nav>