
</section>

</div>
        <!-- /.content-wrapper -->
<footer class="main-footer text-center">
            <div class="pull-right hidden-xs">
            </div>
            GearStore thiết kế theo <a href="https://adminlte.io">Almsaeed Studio</a>
        </footer>
        

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
                    <div>
                        <h4 class="control-sidebar-heading">Layout Options</h4>
                        <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                                    data-layout="fixed" class="pull-right"> Fixed layout</label>
                            <p>Activate the fixed layout. You can't use fixed and boxed layouts together</p>
                        </div>
                        <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                                    data-layout="layout-boxed" class="pull-right"> Boxed Layout</label>
                            <p>Activate the boxed layout</p>
                        </div>
                        <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                                    data-layout="sidebar-collapse" class="pull-right"> Toggle Sidebar</label>
                            <p>Toggle the left sidebar's state (open or collapse)</p>
                        </div>
                        <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                                    data-enable="expandOnHover" class="pull-right"> Sidebar Expand on Hover</label>
                            <p>Let the sidebar mini expand on hover</p>
                        </div>
                        <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                                    data-controlsidebar="control-sidebar-open" class="pull-right"> Toggle Right Sidebar
                                Slide</label>
                            <p>Toggle between slide over content and push content effects</p>
                        </div>
                        <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                                    data-sidebarskin="toggle" class="pull-right"> Toggle Right Sidebar Skin</label>
                            <p>Toggle between dark and light skins for the right sidebar</p>
                        </div>
                        <h4 class="control-sidebar-heading">Skins</h4>
                        <ul class="list-unstyled clearfix">
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
                                            class="bg-light-blue"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin">Blue</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span
                                            style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
                                    </div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #222"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin">Black</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                            class="bg-purple-active"></span><span class="bg-purple"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin">Purple</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                            class="bg-green-active"></span><span class="bg-green"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin">Green</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                            class="bg-red-active"></span><span class="bg-red"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin">Red</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                            class="bg-yellow-active"></span><span class="bg-yellow"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin">Yellow</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-blue-light"
                                    style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
                                            class="bg-light-blue"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin" style="font-size: 12px">Blue Light</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-black-light"
                                    style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span
                                            style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
                                            style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span>
                                    </div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin" style="font-size: 12px">Black Light</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-purple-light"
                                    style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                            class="bg-purple-active"></span><span class="bg-purple"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin" style="font-size: 12px">Purple Light</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-green-light"
                                    style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                            class="bg-green-active"></span><span class="bg-green"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin" style="font-size: 12px">Green Light</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-red-light"
                                    style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                            class="bg-red-active"></span><span class="bg-red"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin" style="font-size: 12px">Red Light</p>
                            </li>
                            <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                                    data-skin="skin-yellow-light"
                                    style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                                    class="clearfix full-opacity-hover">
                                    <div><span style="display:block; width: 20%; float: left; height: 7px;"
                                            class="bg-yellow-active"></span><span class="bg-yellow"
                                            style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                                    <div><span
                                            style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                                            style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
                                    </div>
                                </a>
                                <p class="text-center no-margin" style="font-size: 12px">Yellow Light</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.tab-pane -->


            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>
    <!-- ./wrapper -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src="/js/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>
    <!-- Sparkline -->
    <script src="/js/jquery.sparkline.min.js"></script>
    <!-- jvectormap  -->

    <!-- SlimScroll -->
    <%# <script src="/admin/js/jquery.slimscroll.min.js"></script> %>
    <!-- ChartJS -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/js/dashboard2.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/js/demo.js"></script>
    <div class="jvectormap-label" style="display: none; left: 440.703px; top: 734px;">Algeria</div>
<script src="ckeditor/ckeditor.js"></script>
<script src="ckeditor/styles.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="js/jquery.scrollTo.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="/js/pnotify.custom.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/socket.io.js"></script>
<script src="js/myscript.js"></script>
<script>
    var socket = io();
    socket.on('server-send-mesage', function (msg) {
      var notice = new PNotify({
        title: 'Thông báo',
        text: 'Bạn có hóa đơn mới: '+msg,
        type:'info'
      });
      notice.get().css('cursor', 'pointer').click(function(e) {
        if ($(e.target).is('.ui-pnotify-closer *, .ui-pnotify-sticker *')) return;
        window.location=window.location.origin + "/admin/thong-bao"
      });
      $.ajax({
        url: window.location.origin+'/admin/dem-thong-bao',
        type: "POST",
        success: (data) => {
          TH_so_thong_bao.innerHTML=data.so_thong_bao
        }
      })
    });
    $.ajax({
      url: window.location.origin+'/admin/dem-thong-bao',
      type: "POST",
      success: (data) => {
        TH_so_thong_bao.innerHTML=data.so_thong_bao
      }
    })
  </script>
  <script>
    function dangxuat(){
      sessionStorage.removeItem('nv_Ten')
      sessionStorage.removeItem('nv_Id')
      sessionStorage.removeItem('nv_Email')
      sessionStorage.removeItem('nv_Dia_chi')
      sessionStorage.removeItem('nv_Dien_thoai')
      sessionStorage.removeItem('nv_Gioi_tinh')
      window.location=window.location.origin+'/admin/dang-nhap'
    }
  </script>
</body>

</html>