<script>
    if(sessionStorage.getItem('nv_Ten')==null || sessionStorage.getItem('nv_Id')==null)
    {
        window.location=window.location.origin+'/admin/dang-nhap'
    }
</script>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin">GearStore Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2">
              <a class="nav-link" href="/admin/san-pham">Sản phẩm</a>
            </li>
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hóa đơn
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/hoa-don">Hóa đơn bán</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin/hoa-don-nhap">Hóa đơn nhập</a>
              </div>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="/admin/nhap-hang">Nhập hàng</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="/admin/lien-he">Liên hệ</a>
              </li>
              <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Thống kê
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/admin/thong-ke-san-pham">Sản phẩm</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/admin/thong-ke-hoa-don">Hóa đơn</a>
                </div>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#">Thông báo<span class="badge badge-secondary" id="TH_so_thong_bao">0</span></a>
              </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item mx-2">
                    <a class="nav-link" title="Manage" href="/admin/tai-khoan">Chào <span id="TH_username"></span>!</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" title="Manage" href="#" onclick="dangxuat()">Đăng xuất</a>
                </li>
            </ul>
        </div>
      </nav>
<script>
    TH_username.innerHTML=sessionStorage.getItem('nv_Ten')+' ';
</script>