<!DOCTYPE html>
<head>
    <title>Sản phẩm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://demo.grandnode.com/favicon.ico">
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/style-responsive.css" rel="stylesheet" />
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font.css" type="text/css" />
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <link href="/css/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/skdslider.css" rel="stylesheet">
</head>