<script>
    if(sessionStorage.getItem('nv_Ten')==null || sessionStorage.getItem('nv_Id')==null)
    {
        window.location=window.location.origin+'/admin/dang-nhap'
    }
</script>
<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">

                <a href="index.html" class="logo">
                    LOGO
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->
            <div class="row">
                <div class="h1 text-info mt-3 ml-sm-5 ten-nha-hang">Tên nhà hàng ABC</div>
                <div class="top-nav ml-auto clearfix">
                    <!--search & user info start-->
                    <ul class="nav pull-right top-menu">
                        <!-- user login dropdown start-->
                        <li class="dropdown mt-1">
                            <a data-toggle="dropdown" class="dropdown-toggle py-2 px-1" href="#">
                            <span id="gioi_tinh_nv">
                                <img alt="" src="images/1.png">
                            </span>
                                
                                <span class="username" id="TH_username">John Doe</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <li><a href="/admin/tai-khoan"><i class=" fa fa-suitcase"></i>Tài khoản</a></li>
                                <li><a href="#" onclick="dangxuat()"><i class="fa fa-key"></i>Đăng xuất</a></li>
                            </ul>
                        </li>
                        <!-- user login dropdown end -->

                    </ul>
                    <!--search & user info end-->
                </div>
            </div>

        </header>
        <!--header end-->
        <script>
            TH_username.innerHTML=sessionStorage.getItem('nv_Ten');
            if(sessionStorage.getItem('nv_Gioi_tinh')=='nữ')
            {
                gioi_tinh_nv.innerHTML=`<img alt="" src="images/1.png">`
            }
            else
            {
                gioi_tinh_nv.innerHTML=`<img alt="" src="images/2.png">`
            }
            
        </script>