<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">

                <a href="index.html" class="logo">
                    LOGO
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->
            <div class="row">
                <div class="h1 text-info mt-3 ml-sm-5 ten-nha-hang">Tên nhà hàng ABC</div>
                <div class="top-nav ml-auto clearfix">
                    <!--search & user info start-->
                    <ul class="nav pull-right top-menu">
                        <!-- user login dropdown start-->
                        <li class="dropdown mt-1">
                            <a data-toggle="dropdown" class="dropdown-toggle py-2 px-1" href="#">
                                <img alt="" src="images/2.png">
                                <span class="username">John Doe</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <li><a href="/admin/tai-khoan"><i class=" fa fa-suitcase"></i>Tài khoản</a></li>
                                <li><a href="login.html"><i class="fa fa-key"></i>Đăng xuất</a></li>
                            </ul>
                        </li>
                        <!-- user login dropdown end -->

                    </ul>
                    <!--search & user info end-->
                </div>
            </div>

        </header>
        <!--header end-->